body
{
    box-sizing: border-box !important;
    overflow-x: hidden !important;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-color: #202020;
}
a
{
  text-decoration: none;
  color: white;
  text-align: center;
}
    @keyframes tsle12098 {
      0% {
        background-color: #545454;
      }
      25% {
        background-color: #202020;
      }
      50% {
        background-color: #ea2222;
      }
      75% {
        background-color: #f5be10;
      }
      100% {
        background-color: #3bd80d;
      }
    }   
::-webkit-scrollbar {
    width: 4px;
    z-index: 50;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

.h12098
{
  top: 0px !important;
  opacity: 1;
  position: absolute !important;
  width: 100%;
  margin: auto;
  background-image: url('../img/fbimg/words1.jpg');
  background-size: contain;
  z-index: 0;
  overflow-x: hidden !important;
}
.tsle12098
{
  font-family: "Roboto", sans-serif;
  font-size: 110px;
  font-weight: 700;
  text-align: center;
  margin-top: 13%;
  padding: 0px;
  color: white;
  z-index: -1;
  word-spacing: 170px;
}
.head12098
{
  margin: 0px !important;
  padding: 0px;
}
.tsle12098:hover
{
  animation: tsle12098 8s linear infinite alternate both;
}
.p12809
{
  font-family: "Tinos", serif;
  color: white;
  font-weight: 300;
  font-size: 18px;
  width: 450px;
  text-align: left;
  margin-top: -3%;
  margin-right: 2%;
  margin-left: auto;
  position: relative;
  padding: 0px;
  
}
.sp123141
{
  font-family: "Caveat", cursive;
  text-align: right;
  margin-right: 5%;
  margin-left: auto;
  position: relative;
  z-index: 2;
  display: block;
}
.img1212
{
  margin: 0px !important;
}
.img121212
{
  filter: grayscale(90%);
  width: 60%;
  height: 100vh;
  display: block;
  margin: auto;
  margin-top: -33%;
  padding: 0px;
  z-index: 1;
}
@keyframes img121212
{
 0%
 { opacity: 1; }
 25%
 { opacity: 0.75; } 
 50% 
 { opacity: 0.5; }
 100%
 {opacity: 0; }
}
.fix120999
{
  background-color: white;
  width: 20%;
  height: 200px;
  position:relative;
  border-radius: 100px;
  margin-top: -17% !important;
  margin: auto;
  box-shadow: 0px 0px 200px 150px rgb(0, 0, 0);
  z-index: -1;
}
.h2981231
{
  background-color: rgb(218, 0, 0);
  background-image: url('../img/fbimg/moon1.jpg');
  background-position: right;
  display: flex;
  text-align: justify;
  background-size: cover;
  height: 100vh !important;
  width: 100%;
  z-index: -10 !important;
}
.imgq8w8qw9e2SD
{
  width: 35%;
  margin: auto;
}
.mah1
{
  margin-top: -80%;
  position: relative;
  height: 350px;
  width: 350px;
  z-index: 10;
  left: 50%;
  filter: brightness(60%);
}
.doleee
{
  margin-top: -20%;
  position: absolute;
  height: 350px;
  width: 350px;
  z-index: 11;
  left: -4%;
  filter: grayscale(60%);
}
.aisdhchariwadinwidnas
{
  margin-top: -110% !important;
  position: relative;
  width: 100%;
  display: flex;
  z-index: 20;
}
.paskdnal123123as
{
  z-index: 100;
  width:55%;
  display: flex;
  color: white;
  margin: auto;
  font-size: 18px;
  background-color: #32323253;
  box-shadow: 0px 0px 10px 10px #32323232;
}
.h2981231
{
  margin: auto;
  width: 100%;
  height: 90vh;
  z-index: 10;
}
.aasdknawdklq21
{
  position: absolute;
  background-image: url('../img/fbimg/kuwenistage.png');
  background-size: cover;
  height: 100vh;
  width: 100% !important;
  animation: tsle12098 8s linear infinite alternate both;
}
.khead
{
  width: 100%;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 42px;
  margin-top: 3%;
}
.ktitle
{
  font-family: "Alice", serif;
  width: 100%;
  font-size: 25px;
  text-align: center;
}
.kpara
{
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 90%;
  padding: 10px 50px;
  text-align: justify;
  font-size: 17px;
  margin: auto;
  font-weight: 400 !important;
}
.flexbosxxsa
{
  width: 100%;
  display: flex;
}
.rimgrot
{
  position: relative;
  width: 99%;
  margin-top: -8% !important;
  margin-left: 7%;
  z-index: 1;
  animation: krot 25s infinite linear;

}
.rimgrot2
{
  position: relative;
  width: 85%;
  margin-top: 0% !important;
  margin-left: 11%;
  z-index: 1;
  animation: krot  25s infinite linear;
}
.rcenter1
{
  left: 6%;
  margin-top: -97% !important;
  position: relative !important;
  z-index: 0;
}
.rcenter2
{
  width: 85% !important;
  left: 4%;
  margin-top: -87% !important;
  position: relative !important;
  z-index: 0;
}
@keyframes krot{
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.rimg
{
  width: 85% ;
  margin: auto;
  display: block;
  border-radius: 50%;
}
.astrofloat1
{
  position: relative;
  width: 71%;
  left: 13%;
  animation: float 10s infinite linear;
}
@keyframes float {
  0% {
            transform: translate(0);
  }
  20% {
            transform: translate(-7px, 7px);
  }
  40% {
            transform: translate(-7px, -7px);
  }
  60% {
            transform: translate(7px, 7px);
  }
  80% {
            transform: translate(7px, -7px);
  }
  100% {
            transform: translate(0);
  }
}
.astrofloat2
{
  position: relative;
  width: 71%;
  left: 13%;
  animation: float1 10s infinite linear;
}
@keyframes float1 {
  0% {
            transform: translate(0);
  }
  20% {
            transform: translate(-7px, -7px);
  }
  40% {
            transform: translate(-7px, 7px);
  }
  60% {
            transform: translate(7px, -7px);
  }
  80% {
            transform: translate(7px, 7px);
  }
  100% {
            transform: translate(0);
  }
}
.rimgcen
{
  margin-top: -68% !important;
  width: 80% !important;
  margin: auto;
  display: block;
  border-radius: 50%;
}
.ramkafueaoas
{
  width: 40% !important;
}
.btnstyle
{
  position: relative;
  top: 5%;
  left: 1%;
  width: 40%;
  margin: auto;
  display: block;
  text-align: center;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
}

.btn:active {
  scale: 0.92;
}

.btnstyle:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}
.asdaklnd1astt
{
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  height: calc(100%);
  background-color: rgb(75, 75, 75);
}
.maracontwed
{
  top: 1%;
  position: relative;
  width: 98%;
  border-radius: 20px;
  height: calc(100% - 3vh);
  margin: auto;
  animation: smoothGradient 60s linear infinite alternate both;
  animation-timing-function: ease ;
}
.paskdnal123123as
{
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0.4px 0.4px 10px #000000 !important;
}
.rotate {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(10% - 5px);
  width: 150px;
  height: 150px;
  z-index: 12;
}
.angle {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}
.size {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
}
.position {
  position: absolute;
  top: 0;
  left: 0;
}
.particle {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes angle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes size {
  0% {
    -webkit-transform: scale(.2);
  }
  100% {
    -webkit-transform: scale(.6);
  }
}
@-webkit-keyframes position {
  0% {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(400px,400px,0);
    opacity: 0;
  }
}
@-webkit-keyframes particle {
  0% {
    box-shadow: inset 0 0 20px 20px #ffffff, 0 0 10px 10px #ffffff, inset 0 0 80px 80px #ffffff;
  }
  33.33% {
    box-shadow: inset 0 0 20px 20px #ffffff, 0 0 130px 5px #ffffff, inset 0 0 50px 50px #ffffff;
  }
  33.34% {
    box-shadow: inset 0 0 20px 20px #ffffff, 0 0 50px 10px #ffffff, inset 0 0 80px 80px #ffffff;
  }
  66.66% {
    box-shadow: inset 0 0 20px 20px #ffffff, 0 0 130px 10px #ffffff, inset 0 0 50px 50px #ffffff;
  }
  66.67% {
    box-shadow: inset 0 0 20px 20px #ffffff, 0 0 50px 10px #ffffff, inset 0 0 80px 80px #ffffff;
  }
  100% {
    box-shadow: inset 0 0 20px 20px #ffffff, 0 0 130px 10px #ffffff, inset 0 0 50px 50px #ffffff;
  }
}
.rotate .angle:nth-child(1){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(1) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(1) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 6s linear infinite alternate;
}
.rotate .angle:nth-child(1) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 2s linear 0s infinite;
}
.rotate .angle:nth-child(2){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 4.95s steps(3) -1.65s infinite;
}
.rotate .angle:nth-child(2) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 4.95s steps(3) -1.65s infinite alternate;
}
.rotate .angle:nth-child(2) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 4.95s linear -3.3s infinite alternate;
}
.rotate .angle:nth-child(2) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 1.65s linear 0s infinite;
}
.rotate .angle:nth-child(3){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 13.76s steps(8) -6.88s infinite;
}
.rotate .angle:nth-child(3) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 6.88s steps(4) -5.16s infinite alternate;
}
.rotate .angle:nth-child(3) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 5.16s linear -1.72 infinite alternate;
}
.rotate .angle:nth-child(3) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 1.72s linear 0s infinite;
}
.rotate .angle:nth-child(4){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(4) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(4) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 6s linear infinite alternate;
}
.rotate .angle:nth-child(4) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 2s linear 0s infinite;
}
.rotate .angle:nth-child(4){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 4.95s steps(3) -1.65s infinite;
}
.rotate .angle:nth-child(4) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 4.95s steps(3) -1.65s infinite alternate;
}
.rotate .angle:nth-child(4) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 4.95s linear -3.3s infinite alternate;
}
.rotate .angle:nth-child(4) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 1.65s linear 0s infinite;
}
.rotate .angle:nth-child(4){
  /* change the angle every 2 seconds */
  -webkit-animation: angle 13.76s steps(8) -6.88s infinite;
}
.rotate .angle:nth-child(4) .size{
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 6.88s steps(4) -5.16s infinite alternate;
}
.rotate .angle:nth-child(4) .particle{
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 5.16s linear -1.72 infinite alternate;
}
.rotate .angle:nth-child(4) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 1.72s linear 0s infinite;
}
.rotate .angle:nth-child(5) .position{
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 2.45s linear 0s infinite;
}
@keyframes smoothGradient {
  0%{
    background-color: #545454;
  }
  8%{
    background-color: linear-gradient(40deg, rgba(61,50,74,1) 0%, rgba(62,76,119,1) 100%);  
  }
  16%{
    background-color: linear-gradient(40deg, rgba(42,44,117,1) 0%, rgba(44,43,81,1) 100%);  
  }
  24%{
    background-color: linear-gradient(40deg, rgba(24,54,72,1) 0%, rgba(228,229,227,1) 100%);
  }
  32%{
    background-color: linear-gradient(40deg, rgba(147,64,155,1) 0%, rgba(216,91,219,1) 100%);
  }
  40%{
    background-color: linear-gradient(40deg, rgba(103,57,122,1) 0%, rgba(78,57,102,1) 14%, rgba(1,56,42,1) 53%, rgba(2,136,111,1) 100%);
  }
  48%{
    background-color: linear-gradient(40deg, rgba(149,109,51,1) 0%, rgba(203,121,55,1) 45%, rgba(210,200,173,1) 100%);
  }
  56%{
    background-color: linear-gradient(40deg, rgba(99,59,38,1) 0%, rgba(215,196,136,1) 100%);
  }
  64%{
    background-color: linear-gradient(40deg, rgba(222,120,51,1) 0%, rgba(252,210,83,1) 100%);
  }
  72%{
    background-color: linear-gradient(40deg, rgba(122,69,31,1) 0%, rgba(159,24,35,1) 100%);
  }
  80%{
    background-color: linear-gradient(40deg, rgba(36,12,8,1) 0%, rgba(144,26,9,1) 100%);
  }
  88%
  {
    background-color: linear-gradient(40deg, rgba(47,34,29,1) 0%, rgba(163,116,66,1) 46%, rgba(175,49,39,1) 100%);
  }
}