body {
    height: 2000px;    
}
.fade {
    position: absolute;
    top: 600px;
    height: 300px;
    width: 300px;
    background-color: #d15757;
    color: #fff;
    padding: 10px;
}
.fade {
    opacity: 1;
    transition: opacity 0.5s ease; /* This will handle the smooth transition */
}

